@import url(../../src/fonts/HelveticaNeueLTPro-Bd.otf);
$primary: #0b3939;
$secondary: #d6aa3a;

* {
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}

.bg_header {
    background-color: $primary;
    border-bottom: $secondary solid 2px;
    min-height: 6.5rem;
    .header {
        display: flex;
        max-width: 100%;
        align-items: center;

        img {
            margin-left: 7rem;
            width: 165px;
            height: 120px;
            object-fit: contain;
        }

        nav {
            width: 100%;
            ul {
            margin-left: 10rem;
                display: flex;
                font-size: 3rem;

                li {
                    list-style: none;
                    text-align: center;
                    width: fit-content;
                    padding: 0 6%;

                    a {
                        color: $secondary;
                        display: block;
                        text-decoration: none;
                        cursor: pointer;
                        width: fit-content;
                        padding: 3rem 0;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    border-top: $secondary solid 2px;
    background-color: $primary;
    text-align: center;

    nav p {
        color: $secondary;
        font-size: 1rem;
        padding: 1rem;
    }

    #buttons {
        display: flex;
        justify-content: center;
    }

    #buttons a {
        display: block;
        text-decoration: none;
        color: $secondary;
        font-size: 2rem;
        padding: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

}

main {
    .add {
        display: inline-block;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        background-color: $primary;
        color: $secondary;
        border: $secondary 2px solid;
        width: 85px;
        cursor: pointer;
    }
    /*accueil*/
    .img_presentation {
        display: flex;

        .img1 {
            object-fit: cover;
            width: 30%;
            height: 300px;
            margin: 3rem 0 3rem 15rem;
        }

        .img2 {
            object-fit: cover;
            width: 10%;
            height: 300px;
            margin: 3rem 1rem;
        }

        .img3 {
            object-fit: cover;
            width: 30%;
            height: 300px;
            margin: 3rem 1rem;
        }
    }

    .presentation {
        font-size: 2.5rem;
        text-align: center;
        color: #976E04;
    }

    article {
        font-size: 1.5rem;
        padding: 5rem 15rem;

        .atelier {
            margin: auto;
            text-align: justify;
            color: rgb(12, 66, 49);

            h1 {
                margin: 2rem 0;
                text-decoration: underline;
                color: $secondary;
            }

            .content {
                display: flex;

                img {
                    object-fit: cover;
                    width: 30%;
                    height: 250px;
                    border: $secondary solid 2px;
                }

                p {
                    padding-left: 2rem;
                }
            }
        }
    }
}

/*produits*/
.produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        display: inline-block;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        background-color: $primary;
        color: $secondary;
        border: $secondary 2px solid;
        width: 85px;
        cursor: pointer;
    }
    h2,
    li,
    p {
        color: $primary;
        margin: auto;
        text-align: center;
        color: $primary;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        width: 70%;
    }

    .savon {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        width: 40%;

        .imgNom {
            height: 100px;
            margin: 3rem auto;
            object-fit: contain;
            max-width: 100%;
        }

        .img {
            height: 150px;
            margin: 3rem auto;
            object-fit: contain;
            max-width: 100%;
        }

        .prix {
            display: block;
            max-width: 200px;
            margin: auto;
            text-align: center;
            color: $primary;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            padding: 3rem;
        }

        .design {
            display: block;
            color: $primary;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            margin: auto;
            font-size: 1rem;
            white-space: break-spaces;
        }
    }
}

//Retour haut de page :
p#scroll {
    position: fixed;
    transform: rotate(-90deg);
    padding: 1rem;
    background-color: $primary;
    color: $secondary;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 100%;
    bottom: 6rem;
    right: 3rem;
    display: none;
    cursor: pointer;
}

p#scroll.visible {
    display: block;
}

/*contact*/
.contact {
    display: flex;
    justify-content: space-around;

    .liste {
        margin: auto;
        padding-left: 7rem;

        h2 {
            text-decoration: underline;
            padding: 3rem 0;
            color: #976E04;
            font-size: 2rem;
        }

        ul {
            li {
                color: $primary;
                font-size: 1.5rem;
                padding: 0.5rem;
                list-style: none;

                a {
                    background-color: transparent;
                    border: none;
                    text-decoration: none;
                    color: #976E04;
                    font-size: 2rem;
                    padding: 1rem;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    iframe {
        margin: 7rem 12rem 10rem 2rem;
        border: $secondary solid 2px;
    }
}

@media screen and (min-width: 829px) and (max-width: 1212px) {
    .bg_header {
        width: 100%;

        .header nav ul {
            display: none;
            width: fit-content;
            &.visible {
                display: block;
                margin-left: 3rem;

                &.visible a {
                    padding: 1rem 5rem;
                    font-size: 2rem;
                }
            }
        }

        .header img {
            margin-left: 2rem;
        }

        button {
            position: absolute;
            top: 2.5rem;
            right: 2rem;
            width: 30px;
            height: 30px;
            border-top: solid aliceblue 4px;
            border-bottom: solid aliceblue 4px;
            border-left: transparent;
            border-right: transparent;
            cursor: pointer;
            background-color: transparent;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                transform: translate(-50%, -50%);
                height: 4px;
                background-color: aliceblue;
            }
        }

        button.active {
            border: none;

            &::before {
                transform: translate(-50%, -50%) rotateZ(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }
    }

    main {
        .img_presentation {
            .img2 {
                width: 10%;
            }

            .img1,
            .img2,
            .img3 {
                margin: 2rem;
            }
        }

        .presentation {
            font-size: 2.5rem;
        }

        article {
            padding: 5rem;
        }

        article .atelier .content {
            flex-direction: column;

            img {
                width: auto;
                margin: auto;
            }

            p {
                padding-left: 0;
            }
        }
    }

    footer {
        nav {
            #buttons {
                flex-direction: column;
            }

            #buttons p {
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 430px) and (max-width: 828px) {
    .bg_header {
        width: 100%;

        .header nav ul {
            display: none;
            width: fit-content;

            &.visible {
                display: block;
                margin-left: 3rem;

                &.visible a {
                    padding: 1rem 5rem;
                    font-size: 2rem;
                }
            }
        }

        .header img {
            margin-left: 2rem;
        }

        button {
            position: absolute;
            top: 2.5rem;
            right: 2rem;
            width: 30px;
            height: 30px;
            border-top: solid aliceblue 4px;
            border-bottom: solid aliceblue 4px;
            border-left: transparent;
            border-right: transparent;
            cursor: pointer;
            background-color: transparent;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                transform: translate(-50%, -50%);
                height: 4px;
                background-color: aliceblue;
            }
        }

        button.active {
            border: none;

            &::before {
                transform: translate(-50%, -50%) rotateZ(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }
    }

    //accueil
    main {
        background-image: none;

        .img_presentation {
            flex-direction: column;
            align-items: center;

            .img1,
            .img2,
            .img3 {
                object-fit: contain;
                margin: 1rem;
                width: 50%;
            }
        }

        .presentation {
            font-size: 2.5rem;
        }

        article {
            padding: 5rem;
        }

        article .atelier .content {
            flex-direction: column;

            img {
                width: auto;
                margin: auto;
            }

            p {
                padding-left: 0;
            }
        }
    }
    //produits
    .produits{
        .savon{
            width: 100%;
        }
    }

    //contact
    .contact .liste {
        width: 40%;
    }

    .contact #map {
        margin: 7rem 8rem 10rem 2rem;
    }

    footer {
        nav {
            #buttons {
                flex-direction: column;

                #buttons p {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 429px) {
    .bg_header {
        .header {
            display: flex;
            flex-direction: column;
        }

        width: 470px;

        .header nav ul {
            display: none;
            width: fit-content;

            &.visible {
                display: block;
                margin: 0 0.1rem;

                &.visible a {
                    padding: 1rem 5rem;
                    font-size: 2rem;
                }
            }
        }

        .header img {
            margin: 1rem 2.5rem;
        }

        button {
            position: absolute;
            top: 1rem;
            right: 2rem;
            width: 30px;
            height: 30px;
            border-top: solid aliceblue 4px;
            border-bottom: solid aliceblue 4px;
            border-left: transparent;
            border-right: transparent;
            cursor: pointer;
            background-color: transparent;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                transform: translate(-50%, -50%);
                height: 4px;
                background-color: aliceblue;
            }
        }

        button.active {
            border: none;

            &::before {
                transform: translate(-50%, -50%) rotateZ(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }
    }

    main {
        //accueil
        background-image: none;

        .img_presentation {
            flex-direction: column;
            align-items: center;

            .img1,
            .img2,
            .img3 {
                object-fit: contain;
                margin: 1rem;
                width: 50%;
            }
        }

        .presentation {
            font-size: 2.5rem;
        }

        article {
            padding: 1rem;
        }

        article .atelier .content {
            flex-direction: column;

            img {
                width: auto;
                margin: auto;
            }
        }
        //produits
        &.produits div .savon{
            width: 100%;
            .imgNom {
                margin: 0;
                object-fit: contain;
                width: 100%;
            }
    
        }

        .contact {
            flex-direction: column;

            .liste {
                padding: 1rem;
            }

            #map {
                width: 465px;
                margin: 1rem 0;
            }
        }
    }

    footer {
        width: 470px;

        nav {
            width: 100%;
            #buttons {
                flex-direction: column;
            }

            #buttons p {
                padding: 0;
            }
        }
    }
}