@import url(../../src/fonts/HelveticaNeueLTPro-Bd.otf);
/* form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
  } */
#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
button {
  background: #0b3939;
  font-family: Arial, sans-serif;
  color: #d6aa3a;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

button:hover {
  filter: contrast(200%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.hidden {
  display: none;
}

.bg_header {
  background-color: #0b3939;
  border-bottom: #d6aa3a solid 2px;
  min-height: 6.5rem;
}
.bg_header .header {
  display: flex;
  max-width: 100%;
  align-items: center;
}
.bg_header .header img {
  margin-left: 7rem;
  width: 165px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.bg_header .header nav {
  width: 100%;
}
.bg_header .header nav ul {
  display: flex;
  font-size: 3rem;
}
.bg_header .header nav ul li {
  list-style: none;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 6%;
}
.bg_header .header nav ul li a {
  color: #d6aa3a;
  display: block;
  text-decoration: none;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
}
.bg_header .header nav ul li a:hover {
  text-decoration: underline;
}
.bg_header .header nav ul li a ul.sousMenu {
  font-size: 2rem;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.footer {
  border-top: #d6aa3a solid 2px;
  background-color: #0b3939;
  text-align: center;
}
.footer nav p {
  color: #d6aa3a;
  font-size: 1rem;
  padding: 1rem;
}
.footer #buttons {
  display: flex;
  justify-content: center;
}
.footer #buttons a {
  display: block;
  text-decoration: none;
  color: #d6aa3a;
  font-size: 2rem;
  padding: 1rem;
}
.footer #buttons a:hover {
  text-decoration: underline;
}

main {
  /*accueil*/
}
main .add {
  display: inline-block;
  position: fixed;
  margin: 2rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #0b3939;
  color: #d6aa3a;
  border: #d6aa3a 2px solid;
  width: 85px;
  cursor: pointer;
}
main .img_presentation {
  display: flex;
}
main .img_presentation .img1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  height: 300px;
  margin: 3rem 0 3rem 15rem;
}
main .img_presentation .img2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 10%;
  height: 300px;
  margin: 3rem 1rem;
}
main .img_presentation .img3 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  height: 300px;
  margin: 3rem 1rem;
}
main .presentation {
  font-size: 2.5rem;
  text-align: center;
  color: #976E04;
}
main article {
  font-size: 1.5rem;
  padding: 5rem 15rem;
}
main article .atelier {
  margin: auto;
  text-align: justify;
  color: rgb(12, 66, 49);
}
main article .atelier h1 {
  margin: 2rem 0;
  text-decoration: underline;
  color: #d6aa3a;
}
main article .atelier .content {
  display: flex;
}
main article .atelier .content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  height: 250px;
  border: #d6aa3a solid 2px;
}
main article .atelier .content p {
  padding-left: 2rem;
}

/*produits*/
.hide {
  display: none !important;
}

.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.produits a {
  display: inline-block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  text-align: center;
  background-color: #0b3939;
  color: #d6aa3a;
  border: #d6aa3a 2px solid;
  width: 85px;
  cursor: pointer;
}
.produits h2,
.produits li,
.produits p {
  color: #0b3939;
  margin: auto;
  text-align: center;
  color: #0b3939;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
.produits h2 {
  font-size: 1.5rem;
}
.produits p {
  width: 70%;
}
.produits .savon {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 40%;
}
.produits .savon .imgNom {
  height: 70px;
  margin: 3rem auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.produits .savon .img {
  height: 150px;
  margin: 0 auto 3rem auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.produits .savon .infos {
  position: absolute;
  width: auto;
  left: 44%;
  top: 70%;
  background-color: #0b3939;
  color: #d6aa3a;
}
.produits .savon .prix {
  display: block;
  max-width: 200px;
  margin: auto;
  text-align: center;
  color: #0b3939;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 3rem;
}

#voil {
  position: fixed;
  opacity: 0.5;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal {
  position: fixed;
  background-color: #d6aa3a;
  top: 35%;
  left: 35%;
  transform: translate(-25%, -25%);
}
#modal .design {
  display: block;
  color: #0b3939;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  padding: 3rem;
  font-size: 1.3rem;
  white-space: break-spaces;
}
#modal #close {
  position: absolute;
  right: 1%;
  top: 1%;
  width: auto;
  background-color: #0b3939;
  color: #d6aa3a;
}

p#scroll {
  position: fixed;
  transform: rotate(-90deg);
  padding: 1rem;
  background-color: #0b3939;
  color: #d6aa3a;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 100%;
  bottom: 6rem;
  right: 3rem;
  display: none;
  cursor: pointer;
}

p#scroll.visible {
  display: block;
}

/*contact*/
.contact {
  display: flex;
  justify-content: space-around;
}
.contact .liste {
  margin: auto;
  padding-left: 7rem;
}
.contact .liste h2 {
  text-decoration: underline;
  padding: 3rem 0;
  color: #976E04;
  font-size: 2rem;
}
.contact .liste ul li {
  color: #0b3939;
  font-size: 1.5rem;
  padding: 0.5rem;
  list-style: none;
}
.contact .liste ul li a {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #976E04;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}
.contact .liste ul li a:hover {
  text-decoration: underline;
}
.contact iframe {
  margin: 7rem 12rem 10rem 2rem;
  border: #d6aa3a solid 2px;
}

/*Formulaires*/
h1 {
  color: #0b3939;
  text-align: center;
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  color: #0b3939;
  font-size: 1.5rem;
}
form input {
  margin: 0.5rem;
}
form p {
  margin: 0.5rem;
}
form button {
  width: 10rem;
  margin: 1rem;
}

@media screen and (min-width: 829px) and (max-width: 1212px) {
  .bg_header {
    width: 100%;
  }
  .bg_header .header nav ul {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bg_header .header nav ul.visible {
    display: block;
    margin-left: 3rem;
  }
  .bg_header .header nav ul.visible.visible a {
    padding: 1rem 5rem;
    font-size: 2rem;
  }
  .bg_header .header img {
    margin-left: 2rem;
  }
  .bg_header button {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    border-top: solid aliceblue 4px;
    border-bottom: solid aliceblue 4px;
    border-left: transparent;
    border-right: transparent;
    cursor: pointer;
    background-color: transparent;
  }
  .bg_header button::before, .bg_header button::after {
    content: "";
    position: absolute;
    width: 30px;
    transform: translate(-50%, -50%);
    height: 4px;
    background-color: aliceblue;
  }
  .bg_header button.active {
    border: none;
  }
  .bg_header button.active::before {
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .bg_header button.active::after {
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  main .img_presentation .img2 {
    width: 10%;
  }
  main .img_presentation .img1,
main .img_presentation .img2,
main .img_presentation .img3 {
    margin: 2rem;
  }
  main .presentation {
    font-size: 2.5rem;
  }
  main article {
    padding: 5rem;
  }
  main article .atelier .content {
    flex-direction: column;
  }
  main article .atelier .content img {
    width: auto;
    margin: auto;
  }
  main article .atelier .content p {
    padding-left: 0;
  }
  main .produits .savon .imgNom,
main .img {
    margin: 1rem auto;
  }
  main .prix {
    padding: 1rem;
  }
  footer nav #buttons {
    flex-direction: column;
  }
  footer nav #buttons p {
    padding: 0;
  }
}
@media screen and (min-width: 430px) and (max-width: 828px) {
  .bg_header {
    width: 100%;
  }
  .bg_header .header nav ul {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bg_header .header nav ul.visible {
    display: block;
    margin-left: 3rem;
  }
  .bg_header .header nav ul.visible.visible a {
    padding: 1rem 5rem;
    font-size: 2rem;
  }
  .bg_header .header img {
    margin-left: 2rem;
  }
  .bg_header button {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    border-top: solid aliceblue 4px;
    border-bottom: solid aliceblue 4px;
    border-left: transparent;
    border-right: transparent;
    cursor: pointer;
    background-color: transparent;
  }
  .bg_header button::before, .bg_header button::after {
    content: "";
    position: absolute;
    width: 30px;
    transform: translate(-50%, -50%);
    height: 4px;
    background-color: aliceblue;
  }
  .bg_header button.active {
    border: none;
  }
  .bg_header button.active::before {
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .bg_header button.active::after {
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  main {
    background-image: none;
  }
  main .img_presentation {
    flex-direction: column;
    align-items: center;
  }
  main .img_presentation .img1,
main .img_presentation .img2,
main .img_presentation .img3 {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 1rem;
    width: 50%;
  }
  main .presentation {
    font-size: 2.5rem;
  }
  main article {
    padding: 5rem;
  }
  main article .atelier .content {
    flex-direction: column;
  }
  main article .atelier .content img {
    width: auto;
    margin: auto;
  }
  main article .atelier .content p {
    padding-left: 0;
  }
  .produits .savon {
    width: 100%;
  }
  .produits .savon .imgNom,
.produits .savon .img {
    margin: 1rem auto;
  }
  .produits .savon .prix {
    padding: 1rem;
  }
  .contact .liste {
    width: 40%;
  }
  .contact #map {
    margin: 7rem 8rem 10rem 2rem;
  }
  footer nav #buttons {
    flex-direction: column;
  }
  footer nav #buttons #buttons p {
    padding: 0;
  }
}
@media screen and (max-width: 429px) {
  .bg_header {
    width: 470px;
  }
  .bg_header .header {
    display: flex;
    flex-direction: column;
  }
  .bg_header .header nav ul {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .bg_header .header nav ul.visible {
    display: block;
    margin: 0 0.1rem;
  }
  .bg_header .header nav ul.visible.visible a {
    padding: 1rem 5rem;
    font-size: 2rem;
  }
  .bg_header .header img {
    margin: 1rem 2.5rem;
  }
  .bg_header button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    border-top: solid aliceblue 4px;
    border-bottom: solid aliceblue 4px;
    border-left: transparent;
    border-right: transparent;
    cursor: pointer;
    background-color: transparent;
  }
  .bg_header button::before, .bg_header button::after {
    content: "";
    position: absolute;
    width: 30px;
    transform: translate(-50%, -50%);
    height: 4px;
    background-color: aliceblue;
  }
  .bg_header button.active {
    border: none;
  }
  .bg_header button.active::before {
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .bg_header button.active::after {
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  main {
    background-image: none;
  }
  main .img_presentation {
    flex-direction: column;
    align-items: center;
  }
  main .img_presentation .img1,
main .img_presentation .img2,
main .img_presentation .img3 {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 1rem;
    width: 50%;
  }
  main .presentation {
    font-size: 2.5rem;
  }
  main article {
    padding: 1rem;
  }
  main article .atelier .content {
    flex-direction: column;
  }
  main article .atelier .content img {
    width: auto;
    margin: auto;
  }
  main.produits div .savon {
    width: 100%;
  }
  main.produits div .savon .imgNom {
    margin: 1rem auto;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  main.produits div .savon .img {
    margin: 1rem auto;
  }
  main.produits div .savon .prix {
    padding: 1rem;
  }
  main .contact {
    flex-direction: column;
  }
  main .contact .liste {
    padding: 1rem;
  }
  main .contact #map {
    width: 465px;
    margin: 1rem 0;
  }
  footer {
    width: 470px;
  }
  footer nav {
    width: 100%;
  }
  footer nav #buttons {
    flex-direction: column;
  }
  footer nav #buttons p {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */